.details-button-grp button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #f5f5f5;
  border: 1px solid #c7cdd1;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.quiz-field {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1rem;
}

.quiz-label {
  width: 50%;
  text-align: right;
  font-weight: bold;
}

.quiz-field .quiz-value {
  text-align: left;
}

.input-label-grps .input-grp {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.input-label-grps .input-grp .input-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.input-label-grps .input-grp label {
  width: 30%;
  text-align: right;
  padding: 10px;
}

.input-label-grps .input-grp input, select, option {
  width: 25%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.input-label-grps .input-grp select {
  width: 500px;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.input-label-grps .input-grp textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.input-label-grps .input-grp button {
  width: 20%;
  padding: 10px;
  background-color: #d41b2c;
  color: white;
  border: none;
  border-radius: 5px;
}

.quiz-input-grp{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  gap: 1rem;
}

.quiz-input-grp .quiz-input-label{
  width: 30%;
  text-align: right;
}

.quiz-input-grp .quiz-input-cont{
  width: 60%;
}

.quiz-input-grp .quiz-input-cont select, option{
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.quiz-inner-input-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quiz-inner-input-cont label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.quiz-editor-question-button-grp button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #f5f5f5;
  border: 1px solid #c7cdd1;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.quiz-questions-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.quiz-questions-grp .quiz-question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #c7cdd1;
  border-radius: 5px;
  width: 90%;
}

.quiz-questions-grp .quiz-question-container
.quiz-question-title {
  background-color: #f5f5f5;
  padding: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #c7cdd1;
}

.quiz-questions-grp .quiz-question-container
.quiz-question-body p {
  margin: 0;
}

.quiz-questions-grp .quiz-question-container
.quiz-question-body {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#quiz-select, #quiz-select option {
  width: 600px;
}

.newQuestion-main-grp .quiz-input-grp label {
  width: 60%;
  text-align: right;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.newQuestion-main-grp .quiz-input-grp label span {
  width: 30%;
  text-align: right;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.newQuestion-main-grp .quiz-input-grp label input {
  width: 50%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.newQuestion-main-grp .newQuestionButtonContainer button {
  float: right;
  color: #d41b2c;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
}

.newQuestion-main-grp .newQuestionButtonContainer button:disabled {
  color: gray;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
}

.newQuestion-main-grp .newQuestion-heading {
  font-size: 1.1rem;
  font-weight: bold;
}

.preview-question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #c7cdd1;
  border-radius: 5px;
  width: 90%;
}

.preview-question-container .preview-question-title {
  background-color: #f5f5f5;
  padding: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #c7cdd1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.preview-question-container .preview-question-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 2rem;
}

.preview-question-container .preview-question-body .preview-question {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-question-container .preview-question-body .preview-choices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-questions-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid #c7cdd1; */
  /* border-radius: 5px; */
  width: 90%;
}

.preview-choices label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.preview-questions-list-container button {
  background-color: transparent;
  border: none;
  color: #d41b2c;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.preview-heading {
  font-size: 1.1rem;
  font-weight: bold;
}

.preview-heading span {
  font-weight: lighter;
  font-size: 1rem;
  padding: 1rem;
  background-color: #f9ece8;
  color: #c22200;
  border-radius: 5px;
  display: inline-flex;
  width: 100%;
}

.preview-button, .preview-submit-button-container button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  color: #07132c;
  background-color: #f2f2f2;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #c7cdd1;
}

.preview-submit-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  border: 1px solid #c7cdd1;
  border-radius: 5px;
  padding: 0.5rem;
}

.preview-choices .fillintheblank input {
  width: 35%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}